
<!DOCTYPE html>
<html>


    <% include ./partials/head %>

    <body>

        <script>
            var is_cms = true;
        </script>

        <% include ./partials/cms_form %>
        <% include ./partials/footer %>
        
    </body>
</html>