
<!DOCTYPE html>
<html>
    <% include ./partials/head %>
    <body>

         <% include ./partials/menu %>

         <button id="testbutton1" type="button">TEST 1</button>
         <button id="testbutton2" type="button">TEST 2</button>
         <button id="testbutton3" type="button">TEST 3</button>
              
        <% include ./partials/footer %>
    </body>
</html>