
<!DOCTYPE html>
<html>


    <% include ./partials/head %>

    <body>

        <div class="intro">
            <h1>
                CARTOGRAPHIE ART/DESIGN-SCIENCES
                <sub>Beta version</sub>

            </h1>
        </div>

        <nav id="nav-menu" style="position:absolute; top:20px; left:0px; z-index:3">
            <button id="vizView" type="button" class="active">Fields</button>
            <button id="geoView" type="button">Geographic</button>
            <button id="timelineView" type="button">Chronologic</button>
            •
            <button class="add-btn" id="add-journal">Add a journal</button>
            <button id="btnAbout">About</button>
        </nav>

        <script>var is_cms = false;</script>

        <div id='main-div' style="position:absolute; top:0px; left:0px; z-index:2">  
            <svg id='svg' width='900' height='500'>
            </svg>
            <% include ./partials/objects %>
            <% include ./partials/menu %>
            <% include ./partials/journal %> 
        </div>

        <div id='canvas-div' style="position:absolute; top:0px; left:0px; z-index:1">  
                <canvas id='canvas' width='900' height='500'></canvas>
        </div>
        <% include ./partials/form %>
        <% include ./partials/footer %>
        <% include ./partials/about %>

        <div class="beta"> Beta version </div>
    </body>
</html>