
<!DOCTYPE html>
<html>
    <% include ./partials/head %>
    <body>

    	<nav id="nav-menu">
    		<button id="testbutton1" type="button">Geographic</button>
	        <button id="testbutton2" type="button" class="active">Fields</button>
	        <button id="testbutton3" type="button">Chronologic</button>
    	</nav>

        <% include ./partials/menu %>
        <!-- <% include ./partials/journal %> -->
        <!-- <% include ./partials/objects %> -->
        <% include ./partials/form %>

         
              
        <% include ./partials/footer %>
    </body>
</html>