<div class="about">
<div class="close-btn" id="closeAbout"></div>
<div class="content">
	<h1>CARTOGRAPHIE ART/DESIGN-SCIENCES</h1>
	<h4>A participatory, interactive visualization of the interdisciplinary configurations across ART/DESIGN and SCIENCES in scholarly research worldwide.</h4>
	<p>This survey and interactive visualization of journals that publish interdisciplinary research at the intersections of Art/Design with the Sciences (including Social Sciences) and the Humanities initiated as a review of publication avenues (état de l’existant) for the interdisciplinary activities of the Chaire arts & sciences. It evolved into a project of its own as the survey revealed to determine the most predominant configurations in which Art and Design-based research associates with disciplines from the other domains.</p>
	<p>Interdisciplinary research that includes art and design practice is growing in institutions of higher education and research worldwide. Journals and some other media used for scholarly publication testify of the institutionalization of these forms of research. In the face of heterogeneous understandings of interdisciplinarity, specifically of the type that brings together Art/Design and the Sciences, this meta-analysis of which disciplines tend to come together provides an overview of the intellectual, technological, and institutional contexts within which this type of research is evolving. </p>
	<p>The present sample is not exhaustive and the project will continue to evolve. The platform is open to external proposals of new entries. As such, this cartography will progressively change and hopefully broaden beyond its present western focus and what is for now a majority of traditional formats of academic journals.</p>
	<p>This will be a tool for researchers, artists, educators, and students looking for references to find published materials close to their interdisciplinary interests and creative practices that inform their own work. The chronological and broad overview that this project offers is also likely to have an impact at the level of policy making and research funding agencies, as it demonstrates the place and value of Art/Design research communities, and the extent of contributions of these groups and their labs to the landscape of scholarly research.</p>
	
	<br><br>
	<b>Contributors</b>

	<p>
		Research: Manuelle Freire.<br>
		Assistant Researchers: Ragnhild Ståhl-Nielsen, Gwenaelle Lallemand, Jian-Xing Too.<br>
		Graphic Design: Alexandre Deschosal.<br>
		Assistant Graphic Designer: Victoria Gombert, Jérémy De Barros.<br>
		Programming and Web integration: Cécile Bucher.<br>
		With the contributions of Samuel Bianchini, David Bihanic, Didier Bouchon.<br>
	</p>
	<br><br>
	<b>Contact</b>
	<p>
		<a href="mailto:contact@art-design-sciences-journals.org" style="color:black; text-decoration:none;">contact@art-design-sciences-journals.org</a>
	</p>
	<!--
	<p>This survey and interactive visualization of journals that publish interdisciplinary research at the intersections of Art/Design with the Sciences (including Social Sciences) and/or the Humanities was conducted as the ground work (état de l’existant) of the Chaire arts & sciences to determine the most predominant configurations in which Art and Design-based research associates with disciplines from the other two domains. </p>
	<p>As interdisciplinary research based in the arts grows in institutions of higher education and research worldwide, emerging media for scholarly publications testify of its institutionalization. However, different institutional contexts nurture specific cross-disciplinary affinities, much contingent on the expertise and interests of individuals or on opportunities for collaborations. In the face of heterogeneous understandings of Art/Design-Sciences, this meta-analysis of which disciplines tend to come together within this broad designation provides an overview of the intellectual, technological, and institutional contexts that have proven conducive to such research. It equally reveals which disciplinary fields are less likely to come together. Although the text-based journal remains the privileged medium, we began to identify other media of publication for scholarship in Art/Design-Sciences that stem from the academic context but also address non-academic sectors and communities of practice.
	</p>
	<p>The interactive mapping will be a tool for researchers, artists, educators, and students looking for references and existing published materials close to their interdisciplinary interests and the creative material practices that inform their own work.
	</p>
	<p>Methodology and future evolution of the platform <br>
	At the time of launching the beta version, the visualization includes established journals accessed through online academic databases, sampled attending to two strict conceptual boundaries: 1) they state being interdisciplinary; 2) they specifically mention Art and/or Design research and intersections with disciplines from one or the two other domains. The current analysis does not assess the weight of the different disciplines evoked, nor the ways they come together in the published research; That is, it is not determined if journals identify as interdisciplinary based on publishing research articles from different disciplines, or based on publishing research that integrates different disciplinary knowledge. In the former, articles are usually authored by experts from one discipline, making the journal interdisciplinary but not necessarily the research it publishes, which can nevertheless demonstrate which disciplines converge around themes or specific objects of study. In the latter, research articles result from collaboration and are more likely to be jointly authored by several researchers and practitioners with complementary expertise. 
	</p>
	<p>Based on the stated scope of journals, we identified the disciplinary allegiances of each journal in relation to a taxonomy of fields and subfields that we composed from the triangulation of three different lists: the list of Social Sciences and Humanities of the H2020 program of the European Research Council, which is in turn adapted from the UNESCO’s International Standard Classification of Education (2015), and the lists used by the National Research Council of Canada to define the Social Sciences and Humanities as well as the Natural Sciences and Engineering. The taxonomy was adapted to include new subfields that were not present in either of the initial reference lists, such as New Media and Technological Art, and Media Studies. Based on predominance of some fields mentioned but not existing in the reference taxonomies, fields such as Science and Technology Studies (STS), Digital Humanities, and Cognitive Sciences were added. These are fields that combined several pre-existing disciplines, but have consolidated and “institutionalized” as disciplines, with entire research communities sharing in tools, techniques, approaches and discourses, evolving programs of study and research. 
	</p>
	<p>The present sample is not exhaustive. As the platform opens to external contributions, entries will be added. As a result, the cartography will progressively change and hopefully extend beyond its present western focus. Likewise, the taxonomy of disciplines is neither fixed nor stable, it may evolve if other fields rise to prominence. 
	</p>-->
</div>
        
</div>