<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>

    
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/ui.css">

    <script src="../../js/back-office.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="back-office">
	

	<div class="revue-list">
		<h1>Art & Sciences <br>Map Manager</h1>
		<button class="new">Create New</button>
		<input class="search" placeholder="Search" />
		<ul class="list" id="menulist">
			<div class="waitings">
				<h4>Waiting</h4>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
			</div>


			<h4>Online</h4>
			<div class="online">
				<li class="letter">
					A
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li class="letter">
					B
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li class="letter">
					C
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li class="letter">
					D
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li class="letter">
					E
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li class="letter">
					F
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
				<li>
					<h3 class="revue-title">Titre de la revue</h3>
				</li>
			</div>

		</ul>
	</div>

	<div class="view">
	
	
			<div class="add-revue-form">
				<!--
				<form action="">
					<h2>Journal's Name<br> •</h2>


					<div class="fields">
						<div class="col">
							<label for="name">Journal's name :</label>
							<input type="text" required>
						</div>
						
						<div class="col">
							<label for="source">Journal's source (link) :</label>
							<input type="text" >
						</div>
					</div>

					<div class="fields">
						<label for="since_year">Publication since</label>
						<input type="number" required>
						<label for="to_year">to</label>
						<input type="number">
						<br>
						<input type="checkbox" id="ongoing">
						<label for="ongoing">ongoing</label>
					</div>

					<div class="fields">
						<div class="col">
							<label for="frequency">Frequency :</label>
							<select name="" id="">
								<option value="">monthly</option>
								<option value="">Quarterly</option>
								<option value="">Annual</option>
								<option value="">biannual</option>
								<option value="">Irregular</option>
								<option value="">Other</option>
							</select>
						</div>
						<div class="col">
							<!-- <label for="issues">Number of issues :</label>
							<input type="number"> --><!--
						</div>
					</div>

					<div class="fields">
						<label for="plublisher">Publisher / institution affiliation :</label>
						<input type="text">
						<br>
						<label for="country">City :</label>
						<input type="text" id="country" >
						<br>
						<label for="">latitude / longitude:</label>
						<input type="number" id="lat" required>
						<input type="number" id="long" required>
						<br>
						<label for="language">Language :</label>
						<select name="" id="">
							<option value="AF">Afrikanns</option>
							  <option value="SQ">Albanian</option>
							  <option value="AR">Arabic</option>
							  <option value="HY">Armenian</option>
							  <option value="EU">Basque</option>
							  <option value="BN">Bengali</option>
							  <option value="BG">Bulgarian</option>
							  <option value="CA">Catalan</option>
							  <option value="KM">Cambodian</option>
							  <option value="ZH">Chinese (Mandarin)</option>
							  <option value="HR">Croation</option>
							  <option value="CS">Czech</option>
							  <option value="DA">Danish</option>
							  <option value="NL">Dutch</option>
							  <option value="EN">English</option>
							  <option value="ET">Estonian</option>
							  <option value="FJ">Fiji</option>
							  <option value="FI">Finnish</option>
							  <option value="FR">French</option>
							  <option value="KA">Georgian</option>
							  <option value="DE">German</option>
							  <option value="EL">Greek</option>
							  <option value="GU">Gujarati</option>
							  <option value="HE">Hebrew</option>
							  <option value="HI">Hindi</option>
							  <option value="HU">Hungarian</option>
							  <option value="IS">Icelandic</option>
							  <option value="ID">Indonesian</option>
							  <option value="GA">Irish</option>
							  <option value="IT">Italian</option>
							  <option value="JA">Japanese</option>
							  <option value="JW">Javanese</option>
							  <option value="KO">Korean</option>
							  <option value="LA">Latin</option>
							  <option value="LV">Latvian</option>
							  <option value="LT">Lithuanian</option>
							  <option value="MK">Macedonian</option>
							  <option value="MS">Malay</option>
							  <option value="ML">Malayalam</option>
							  <option value="MT">Maltese</option>
							  <option value="MI">Maori</option>
							  <option value="MR">Marathi</option>
							  <option value="MN">Mongolian</option>
							  <option value="NE">Nepali</option>
							  <option value="NO">Norwegian</option>
							  <option value="FA">Persian</option>
							  <option value="PL">Polish</option>
							  <option value="PT">Portuguese</option>
							  <option value="PA">Punjabi</option>
							  <option value="QU">Quechua</option>
							  <option value="RO">Romanian</option>
							  <option value="RU">Russian</option>
							  <option value="SM">Samoan</option>
							  <option value="SR">Serbian</option>
							  <option value="SK">Slovak</option>
							  <option value="SL">Slovenian</option>
							  <option value="ES">Spanish</option>
							  <option value="SW">Swahili</option>
							  <option value="SV">Swedish </option>
							  <option value="TA">Tamil</option>
							  <option value="TT">Tatar</option>
							  <option value="TE">Telugu</option>
							  <option value="TH">Thai</option>
							  <option value="BO">Tibetan</option>
							  <option value="TO">Tonga</option>
							  <option value="TR">Turkish</option>
							  <option value="UK">Ukranian</option>
							  <option value="UR">Urdu</option>
							  <option value="UZ">Uzbek</option>
							  <option value="VI">Vietnamese</option>
							  <option value="CY">Welsh</option>
							  <option value="XH">Xhosa</option>
						</select>
						<br>
						<label for="access">Access</label>
						<select name="" id="">
							<option value="">Free access</option>
							<option value="">Free online access, paper by subscription</option>
							<option value="">Free online access</option>
							<option value="">Subscription only</option>
							<option value="">Open access</option>
						</select>
						<br>
						<label for="medium">Medium :</label>
						<select name="" id="">
							<option value="">Online & print</option>
							<option value="">Print</option>
							<option value="">Online</option>
						</select>
					</div>
					
					<div class="fields">
						<div class="col">
							<label for="about">About (up to 150 characters) :</label>
							<br>
							<textarea name="" id="" cols="30" rows="10" maxlength="150" required></textarea>
						</div>
						
						<div class="col">
							<label for="pr">Peer review :</label>
							
							<p><input type="radio" name ="pr" value="yes"> yes</p>
							
							<p><input type="radio" name ="pr" value="no"> no</p>
						</div>
					</div>

					<div class="fields">
						<label for="note">Note :</label>
						<br>
						<textarea name="" id="" cols="30" rows="10" maxlength="150"></textarea>
					</div>

					<div class="fields form-keywords">
						<div class="col-3 art-design">
							<ul>
								<input type="checkbox" name ="" value="" id="art-design">
								<h3>ART-DESIGN</h3>
								<li>
									<input type="checkbox" name ="" value="" id="Fine">
									<label for="Fine">Fine Arts</label>

									<ul>
										<li>
											<input type="checkbox" name ="" value="" id="Visual">
											<label for="Visual">Visual (fine arts)</label>

										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Sculpture">
											<label for="Sculpture">Sculpture and installation</label>

										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Sound">
											<label for="Sound">Sound (fine arts)</label>

										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Curatorial">
											<label for="Curatorial">Curatorial Studies</label>

										</li>
									</ul>
								</li>
								<li>
									<input type="checkbox" name="" value="" id="design">
									<label for="design">Design</label>
								
									<ul>

										<li>
											<input type="checkbox" name ="" value="" id="Graphic">
											<label for="Graphic">Graphic</label>

										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Sound_d">
											<label for="Sound_d">Sound (design)</label>

										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Objects">
											<label for="Objects">Objects</label>

										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Fashion">
											<label for="Fashion">Fashion</label>

										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Game">
											<label for="Game">Game Design</label>

										</li>
									</ul>
								</li>
								<li>
									<input type="checkbox" name ="" value="" id="Performance">
									<label for="Performance">Performance</label>

								</li>
								<li>
									<input type="checkbox" name ="" value="" id="New">
									<label for="New">New Media and Technological</label>

								</li>
								<li>
									<input type="checkbox" name ="" value="" id="Architecture">
									<label for="Architecture">Architecture</label>

								</li>
								<li>
									<input type="checkbox" name ="" value="" id="Literature">
									<label for="Literature">Literature</label>

								</li>
								<li>
									<input type="checkbox" name ="" value="" id="Filmmaking">
									<label for="Filmmaking">Filmmaking</label>

								</li>
								<li>
									<input type="checkbox" name ="" value="" id="Craft">
									<label for="Craft">Craft</label>

								</li>

							</ul>
						</div>
						<div class="col-3 ss-humanities">
							<input type="checkbox" name ="" value="" id="ssh">
							<h3>SS & HUMANITIES</h3>
							<ul>
								<li>
									<input type="checkbox" name ="" value="" id="education">
									<label for="education">Education</label>
									<ul>
										<li>
											<input type="checkbox" name ="" id="Teacher-Training" value="">
											<label for="Teacher-Training">Teacher-Training</label>
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Curriculum">
											<label for="Curriculum">Curriculum development</label>
											
										</li>
									</ul>
								</li>
								<li>
									<input type="checkbox" name ="" value="" id="Religion">
									<label for="Religion">Religion and Theology</label>
									
								</li>
								<li>
									<input type="checkbox" name ="" value="" id="Languages">
									<label for="Languages">Languages</label>
									
									<ul>
										<li>
											<input type="checkbox" name ="" value="" id="Foreign">
											<label for="Foreign">Foreign Languages & Cultures</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Linguistic">
											<label for="Linguistic">Linguistic, translation, comparative literature</label>
											
										</li>
									</ul>
								</li>
								<li>
									<input type="checkbox" name ="" value="" id="History">
									<label for="History">History</label>
									
									<ul>
										<li>
											<input type="checkbox" name ="" value="" id="Art">
											<label for="Art">Art History</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Archeology">
											<label for="Archeology">Archeology</label>
											
										</li>
									</ul>
								</li>
								<li>
									<input type="checkbox" name ="" value="" id="Philosophy">
									<label for="Philosophy">Philosophy</label>
									
									<ul>
										<li>
											<input type="checkbox" name ="" value="" id="Ethics">
											<label for="Ethics">Ethics</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Aesthetics">
											<label for="Aesthetics">Aesthetics</label>
											
										</li>
									</ul>
								</li>
								<li>
									<input type="checkbox" name ="" value="" id="Social">
									<label for="Social">Social and Behavioural</label>
									
									<ul>
										<li>
											<input type="checkbox" name ="" value="" id="Economics">
											<label for="Economics">Economics, economic history</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Political">
											<label for="Political">Political Science</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Media">
											<label for="Media">Media Studies</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Sociology">
											<label for="Sociology">Sociology</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Anthropology">
											<label for="Anthropology">Anthropology</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Ethnology">
											<label for="Ethnology">Ethnology</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Psychology">
											<label for="Psychology">Psychology</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Geography">
											<label for="Geography">Geography</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Digital">
											<label for="Digital">Digital Humanities</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Science">
											<label for="Science">Science and Technology Studies</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Peace">
											<label for="Peace">Peace and Conflict studies / Human rights</label>
											
										</li>
									</ul>
								</li>
								<li>
									<input type="checkbox" name ="" value="" id="Journalism-info">
									<label for="Journalism-info">Journalism and Information</label>
									
									<ul>
										<li>
											<input type="checkbox" name ="" value="" id="Journalism">
											<label for="Journalism">Journalism</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Library">
											<label for="Library">Library and information studies</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Documentation">
											<label for="Documentation">Documentation and archival science</label>
											
										</li>
									</ul>
								</li>
								<li>
									<input type="checkbox" name ="" value="" id="Business">
									<label for="Business">Business, Admin & Management</label>
									
									<ul>
										<li>
											<input type="checkbox" name ="" value="" id="Retailing">
											<label for="Retailing">Retailing, marketing, sales, public relations</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Finance">
											<label for="Finance">Finance and Accounting</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Secretarial">
											<label for="Secretarial">Secretarial and office work. </label>
											
										</li>
									</ul>
								</li>
								<li>
									<input type="checkbox" name ="" value="" id="Law">
									<label for="Law">Law</label>
									
								</li>
							</ul>
						</div>

						<div class="col-3 science">
							<ul>
								<input type="checkbox" name ="" value="" id="science">
								<h3>SCIENCE</h3>
								<li>
									<input type="checkbox" name ="" value="" id="Life">
									<label for="Life">Life Sciences</label>
									
									<ul>
										<li>
											<input type="checkbox" name ="" value="" id="Biology">
											<label for="Biology">Biology</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Clinical">
											<label for="Clinical">Clinical Sciences</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Cognitive">
											<label for="Cognitive">Cognitive Sciences</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Veterinary">
											<label for="Veterinary">Veterinary Sciences</label>
											
										</li>
									</ul>
								</li>
								<li>
									<input type="checkbox" name ="" value="" id="Physical">
									<label for="Physical">Physical Sciences</label>
									
									<ul>
										<li>
											<input type="checkbox" name ="" value="" id="Astronomy">
											<label for="Astronomy">Astronomy and space sciences</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Physics">
											<label for="Physics">Physics</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Chemistry">
											<label for="Chemistry">Chemistry</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Geology">
											<label for="Geology">Geology</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Meteorology">
											<label for="Meteorology">Meteorology</label>
											
										</li>
									</ul>
								</li>
								<li>
									<input type="checkbox" name ="" value="" id="Mathematics">
									<label for="Mathematics">Mathematics and statistics</label>
									
								</li>
								<li>
									<input type="checkbox" name ="" value="" id="Computer">
									<label for="Computer">Computer Sciences</label>
									
								</li>
								<li>
									<input type="checkbox" name ="" value="" id="Engineering-construction">
									<label for="Engineering-construction">Engineering and Construction</label>
									
									<ul>
										<li>
											<input type="checkbox" name ="" value="" id="Engineering-drawing">
											<label for="Engineering-drawing">Engineering drawing </label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Engineering-mechanics">
											<label for="Engineering-mechanics">Engineering Mechanics and Electronics</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Civil">
											<label for="Civil">Civil Engineering, building, construction</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Urban">
											<label for="Urban">Urban planning</label>
											
										</li>
									</ul>
								</li>
								<li>
									<input type="checkbox" name ="" value="" id="Manufacturing">
									<label for="Manufacturing">Manufacturing and processing</label>
									
								</li>
								<li>
									<input type="checkbox" name ="" value="" id="Agriculture">
									<label for="Agriculture">Agriculture, forestry and fishery </label>
									
								</li>
								<li>
									<input type="checkbox" name ="" value="" id="Health">
									<label for="Health">Health</label>
									
									<ul>
										<li>
											<input type="checkbox" name ="" value="" id="Medecine">
											<label for="Medecine">Medecine</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Ergonomics">
											<label for="Ergonomics">Ergonomics</label>
											
										</li>
										<li>
											<input type="checkbox" name ="" value="" id="Medical">
											<label for="Medical">Medical services (include dental)</label>
											
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="ctrl">
						<button class="cancel">Cancel</button>
						<button class="delete">Delete</button>
						<button class="saveBefore">Save Before Post</button>
						<input type="submit" value="Post">
					</div>


				</form>-->
			</div>

			<div class="layer-close"></div>


		</div>
</div>


<script>
	//ACTION

	$(".ctrl button").bind("click", function(){

		console.log(checkKeywords());
		if(checkKeywords()){
			//POST
		}else{
			alert("You need to choose 3 keywords at least");
		}
	})

	$(".ctrl input").bind("click", function(){

		console.log(checkKeywords());
		if(checkKeywords()){
			//POST
		}else{
			alert("You need to choose 3 keywords at least");
		}
	})

	function checkKeywords(){

		var keywords = $(".form-keywords input");
		var checked = 0;

		for (var i = 0; i < keywords.length; i++) {
			
			if(keywords.eq(i).is(':checked')){
				checked = checked + 1;
			}

		}

		if(checked>=3){
			return true;
		}else{
			return false;
		}

		return false;
	}



</script>
</body>