<div class="form-revue" id="form_add_journals">
	
	
		<div class="add-revue-form">
			<div class="close-btn" id="close-form"></div>
			
			<form action="/submit" method="POST">
				<h2>Add your journal <br> •</h2>
	
	
				<div class="fields">
						<label for="name">Journal's name :</label>
						<input type="text" required name="name">
					<br>
					
						<label for="source">Journal's source (link) :</label>
						<input type="text" name="link">
				</div>
	
				<div class="fields">
					<label for="since_year">Publication since</label>
					<input type="number" name="year_start" required>
					<label for="to_year">to</label>
					<input type="number" name="year_end">
					<br>
					<input type="checkbox" id="ongoing" name="ongoing">
					<label for="ongoing">ongoing</label>
				</div>
	
				<div class="fields">
					<div class="col">
						<label for="frequency">Frequency :</label>
						<select name="frequency" id="frequency">
							<option value="monthly">monthly</option>
							<option value="quarterly">Quarterly</option>
							<option value="annual">Annual</option>
							<option value="biannual">biannual</option>
							<option value="irregular">Irregular</option>
							<option value="other">Other</option>
						</select>
					</div>
					<div class="col">
						<!-- <label for="issues">Number of issues :</label>
						<input type="number"> -->
					</div>
				</div>
	
				<div class="fields">
					<label for="plublisher">Publisher / institution affiliation :</label>
					<input type="text" name="publisher">
					<br>
					<label for="country">City :</label>
					<input type="text" name="city" required>
					<br>
					<label for="language">Language :</label>
					<select name="language" id="language">
						<option value="AF">Afrikanns</option>
						  <option value="SQ">Albanian</option>
						  <option value="AR">Arabic</option>
						  <option value="HY">Armenian</option>
						  <option value="EU">Basque</option>
						  <option value="BN">Bengali</option>
						  <option value="BG">Bulgarian</option>
						  <option value="CA">Catalan</option>
						  <option value="KM">Cambodian</option>
						  <option value="ZH">Chinese (Mandarin)</option>
						  <option value="HR">Croation</option>
						  <option value="CS">Czech</option>
						  <option value="DA">Danish</option>
						  <option value="NL">Dutch</option>
						  <option value="EN">English</option>
						  <option value="ET">Estonian</option>
						  <option value="FJ">Fiji</option>
						  <option value="FI">Finnish</option>
						  <option value="FR">French</option>
						  <option value="KA">Georgian</option>
						  <option value="DE">German</option>
						  <option value="EL">Greek</option>
						  <option value="GU">Gujarati</option>
						  <option value="HE">Hebrew</option>
						  <option value="HI">Hindi</option>
						  <option value="HU">Hungarian</option>
						  <option value="IS">Icelandic</option>
						  <option value="ID">Indonesian</option>
						  <option value="GA">Irish</option>
						  <option value="IT">Italian</option>
						  <option value="JA">Japanese</option>
						  <option value="JW">Javanese</option>
						  <option value="KO">Korean</option>
						  <option value="LA">Latin</option>
						  <option value="LV">Latvian</option>
						  <option value="LT">Lithuanian</option>
						  <option value="MK">Macedonian</option>
						  <option value="MS">Malay</option>
						  <option value="ML">Malayalam</option>
						  <option value="MT">Maltese</option>
						  <option value="MI">Maori</option>
						  <option value="MR">Marathi</option>
						  <option value="MN">Mongolian</option>
						  <option value="NE">Nepali</option>
						  <option value="NO">Norwegian</option>
						  <option value="FA">Persian</option>
						  <option value="PL">Polish</option>
						  <option value="PT">Portuguese</option>
						  <option value="PA">Punjabi</option>
						  <option value="QU">Quechua</option>
						  <option value="RO">Romanian</option>
						  <option value="RU">Russian</option>
						  <option value="SM">Samoan</option>
						  <option value="SR">Serbian</option>
						  <option value="SK">Slovak</option>
						  <option value="SL">Slovenian</option>
						  <option value="ES">Spanish</option>
						  <option value="SW">Swahili</option>
						  <option value="SV">Swedish </option>
						  <option value="TA">Tamil</option>
						  <option value="TT">Tatar</option>
						  <option value="TE">Telugu</option>
						  <option value="TH">Thai</option>
						  <option value="BO">Tibetan</option>
						  <option value="TO">Tonga</option>
						  <option value="TR">Turkish</option>
						  <option value="UK">Ukranian</option>
						  <option value="UR">Urdu</option>
						  <option value="UZ">Uzbek</option>
						  <option value="VI">Vietnamese</option>
						  <option value="CY">Welsh</option>
						  <option value="XH">Xhosa</option>
					</select>
					<br>
					<label for="access">Access</label>
					<select name="access" id="access">
						<option value="free_access">Free access</option>
						<option value="free_online_access_paper_by_subscription">Free online access, paper by subscription</option>
						<option value="free_online_access">Free online access</option>
						<option value="subscription_only">Subscription only</option>
						<option value="open_access">Open access</option>
					</select>
					<br>
					<label for="medium">Medium :</label>
					<select name="medium" id="medium">
						<option value="online_and_print">Online & print</option>
						<option value="print">Print</option>
						<option value="online">Online</option>
					</select>
				</div>
				
				<div class="fields">
					<div class="col">
						<label for="about">About (up to 150 characters) :</label>
						<br>
						<textarea name="about" id="" cols="30" rows="10" maxlength="150" required></textarea>
					</div>
					
					<div class="col">
						<label for="pr">Peer review :</label>
						
						<p><input type="radio" name="pr" value="yes"> yes</p>
						
						<p><input type="radio" name="pr" value="no"> no</p>
					</div>
				</div>
	
				<div class="fields">
					<label for="note">Note :</label>
					<br>
					<textarea name="note" id="" cols="30" rows="10" maxlength="150"></textarea>
				</div>
					
					<div class="fields form-keywords" id="keywords_selection">
							<div class="col-3 art-design">
								<ul>
									<input type="checkbox" name="master0" id="master0">
									<h3 id="master0">ART-DESIGN</h3> <!--content will be overwritten from DB-->
									<li id="master0_li">
									</li>
								</ul>
							</div>
							<div class="col-3 ss-humanities">
								<ul>
									<input type="checkbox" name="master1" id="master1">
									<h3 id="master1">SS & HUMANITIES</h3>
									<li id="master1_li"></li>
								</ul>
							</div>
							<div class="col-3 science">
								<ul>
									<input type="checkbox" name="master2" id="master2">
									<h3 id="master2">SCIENCE</h3>
									<li id="master2_li"></li>
								</ul>
							</div>
					</div>
							
				<!-- INFO  -->
				<div class="fields">
					<div class="infos">
						<div class="col">
							<label for="name">Your name :</label>
							<input type="text" name="user_name">
						</div>
						<div class="col">
							<label for="name">Your e-mail :</label>
							<input type="mail" name="user_email" required>
						</div>
					</div>
					<input id="add_jounal_submit" type="submit" value="submit my journal" formaction="/submit">
				</div>
	
	
			</form>
		</div>
	
		<div class="layer-close"></div>
	
	
	</div>