<div class="journal-info">
	<h2>Titre du journal un très long pour essayer</h2>
	<h4>
		<span class="location">London, England</span> • 
		<span class="date">1978</span></h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae quidem ab ducimus molestias deleniti ipsa ullam necessitatibus, voluptatem earum dicta consequatur deserunt veniam eius praesentium maxime et architecto corrupti eos nihil, quibusdam autem nulla? Ut earum quam deserunt aspernatur, molestiae iste, delectus magni. Vero pariatur commodi, in ipsa culpa exercitationem.</p>

	<div class="keywords">
		<a href="#">Keyword, </a>
		<a href="#">Keyword, </a>
		<a href="#">Keyword, </a>
		<a href="#">Keyword, </a>
		<a href="#">Keyword, </a>
		<a href="#">Keyword, </a>
		<a href="#">Keyword</a>
	</div>


</div>