<div id="menu">
	<input class="search" placeholder="Search" />
	<ul class="list">
		<li class="letter">
			A
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li class="letter">
			B
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li class="letter">
			C
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li class="letter">
			D
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>

	</ul>
        
</div>