<div id="menu" style="z-index:2">
	<input class="search" placeholder="Search" />
	<ul class="list" id ="menulist">
		<!--
		<li class="letter">
			A
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li class="letter">
			B
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		<li>
			<h3 class="revue-title">Titre de la revue</h3>
		</li>
		-->

	</ul>
        
</div>