<div class="objects" id="objview">
	<h2>Related to <span id="objname">????</span></h2>
	<!--<svg width="50" height="50">
			<circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" />
	</svg>-->
	<!--<ul>
		<li>
			<div class="polygone"></div>
			<div class="col-right">
				<h3>Titre de la revue</h3>
				<div class="keywords">
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
				</div>	
			</div>
		</li>
	</ul>-->
	<div class="back-btn">Fields</div>
</div>