<div class="objects">
	<h2>Related to <span>object</span></h2>
	<ul>
		<li>
			<div class="polygone"></div>
			<div class="col-right">
				<h3>Titre de la revue</h3>
				<div class="keywords">
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword</a>
				</div>	
			</div>
		</li>

		<li>
			<div class="polygone"></div>
			<div class="col-right">
				<h3>Titre de la revue</h3>
				<div class="keywords">
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword</a>
				</div>	
			</div>
		</li>

		<li>
			<div class="polygone"></div>
			<div class="col-right">
				<h3>Titre de la revue</h3>
				<div class="keywords">
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword</a>
				</div>	
			</div>
		</li>

		<li>
			<div class="polygone"></div>
			<div class="col-right">
				<h3>Titre de la revue</h3>
				<div class="keywords">
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword</a>
				</div>	
			</div>
		</li>

		<li>
			<div class="polygone"></div>
			<div class="col-right">
				<h3>Titre de la revue</h3>
				<div class="keywords">
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword</a>
				</div>	
			</div>
		</li>

		<li>
			<div class="polygone"></div>
			<div class="col-right">
				<h3>Titre de la revue</h3>
				<div class="keywords">
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword</a>
				</div>	
			</div>
		</li>

		<li>
			<div class="polygone"></div>
			<div class="col-right">
				<h3>Titre de la revue</h3>
				<div class="keywords">
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword</a>
				</div>	
			</div>
		</li>

		<li>
			<div class="polygone"></div>
			<div class="col-right">
				<h3>Titre de la revue</h3>
				<div class="keywords">
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword</a>
				</div>	
			</div>
		</li>

		<li>
			<div class="polygone"></div>
			<div class="col-right">
				<h3>Titre de la revue</h3>
				<div class="keywords">
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword, </a>
					<a href="#">Keyword</a>
				</div>	
			</div>
		</li>
	</ul>

</div>